import com.pab.template.airflow.*;
import com.pab.template.func.logic.*;
import com.pab.template.func.text.*;
import com.pab.template.airflow.step.*;

public static class Default {
    public static String age = "age";
}


public static ExecNode getExecNode() {
    ExecNode node = new ExecSimpleNode("rf00001")  {
        public void exec(DataContext dataContext) {
            ((Airflow)(MetaInfo.getMetaInfo().getNode("dir_rf00001"))).run(dataContext);
        }
    };
    return node;
}